# fly.toml app configuration file generated for virel-agi-platform on 2025-11-13T06:45:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'virel-agi-platform'
primary_region = 'iad'

[build]
  [build.secrets]
    # This creates a file at /run/secrets/SECRET_API_KEY
    # containing the value of your "GEMINI_API_KEY" secret.
    SECRET_API_KEY = "env(GEMINI_API_KEY)"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
